<div class="auth-container layui-text">
  <h2 class="auth-title">{{= d.translations.register}}</h2>

  <form method="POST" class="layui-form" lay-filter="registerForm">
    <div class="layui-form-item">
      <label class="layui-form-label">{{= d.translations.username}}</label>
      <div class="layui-input-block">
        <input
          type="text"
          name="username"
          required
          lay-verify="required"
          lay-reqtext="{{= d.translations.usernameCannotBeEmpty}}"
          placeholder="{{= d.translations.enterUsername}}"
          class="layui-input"
        />
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">{{= d.translations.email}}</label>
      <div class="layui-input-block">
        <input
          type="email"
          name="email"
          required
          lay-verify="required|email"
          lay-reqtext="{{= d.translations.emailCannotBeEmpty}}"
          placeholder="{{= d.translations.enterEmail}}"
          class="layui-input"
        />
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">{{= d.translations.password}}</label>
      <div class="layui-input-block">
        <input
          type="password"
          name="password"
          required
          lay-affix="eye"
          lay-verify="required|registerStrongPassword"
          lay-reqtext="{{= d.translations.passwordCannotBeEmpty}}"
          placeholder="{{= d.translations.enterPassword}}"
          class="layui-input"
        />
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label"
        >{{= d.translations.confirmPassword}}</label
      >
      <div class="layui-input-block">
        <input
          type="password"
          name="confirmPassword"
          required
          lay-affix="eye"
          lay-verify="required|confirmPassword"
          lay-reqtext="{{= d.translations.confirmPasswordCannotBeEmpty}}"
          placeholder="{{= d.translations.enterConfirmPassword}}"
          class="layui-input"
        />
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="register">
          {{= d.translations.register}}
        </button>
        <button
          type="button"
          class="layui-btn layui-btn-primary"
          onclick="
            layui.use(() => {
              const { auth } = layui;
              auth.loadFaceAuthContainer();
            });
          "
          lay-filter="faceAuthBtn"
        >
          {{= d.translations.registerFace}}
        </button>
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-input-block">
        <a href="login.html" class="layui-link"
          >{{= d.translations.alreadyHaveAccount}}</a
        >
      </div>
    </div>
  </form>
  <div class="layui-text">
    <button
      id="jaBtnRegister"
      onclick="
    layui.use(() => {
      const { translationModule, auth } = layui;
      translationModule.changeLanguage('ja', function(){
        auth.init();
      });
    })
    "
    >
      日本語
    </button>

    <button
      id="enBtnRegister"
      onclick="
    layui.use(() => {
      const { translationModule, auth } = layui;
      translationModule.changeLanguage('en', function(){
        auth.init();
      });
    })
    "
    >
      English
    </button>
  </div>
</div>
